<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJSearchBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>027AE0011EAAF14F009D83B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027AE01A1EAAF150009D83B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027AE0251EAAF150009D83B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
